<html ng-app="app" ng-controller="PageCtrl">

  <head>
    <title ng-bind="title"></title>
  </head>

  <body>
    <!-- Login -->
    <div ng-if="!authenticated">
      <div ng-controller="LoginCtrl">
        <fieldset>
          <div class="form-control">
            <label>Email</label>
            <input type="text" ng-model="credentials.email" />
          </div>
          <div class="form-control">
            <label>Password</label>
            <input type="password" ng-model="credentials.password" />
          </div>
          <div class="form-control">
            <button class="btn btn-primary" ng-click="loginClicked()">Login</button>
          </div>
        </fieldset>
      </div>
    </div>

    <div ng-if="!!authenticated">
      <!-- Channels list -->
      <div ng-controller="ChannelListCtrl">
        <h3>Channels</h3>
        <ul ng-if="!!channels.length">
          <li ng-repeat="channel in channels" ng-bind="channel.name"></li>
        </ul>
      </div>

      <!-- Event log -->
      <div ng-controller="EventLogCtrl">
        <h3>Events</h3>
        <ul>
          <li ng-repeat="event in events track by $index">
            <div ng-if="event.type === 'message'">
              <p ng-bind="event.value"></p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Input -->
      <div ng-controller="InputCtrl">
        <h3>Input</h3>
        <input ng-model="input.value" ng-enter="inputChanged()" placeholder="Enter message" />
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://localhost:1337/js/dependencies/sails.io.js"></script>
    <script>
      // connect to api
      io.sails.url = 'http://localhost:1337'
    </script>
    <script>
      (function() {
        angular
        // app module
          .module('app', [])

        // AuthProvider
        .provider('Auth', function() {
          // var accessToken = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxfHVuZGVmaW5lZCIsInN1YiI6InN1YmplY3QiLCJhdWQiOiJhcHAgbmFtZSIsImV4cCI6MTQ1NTE3Mjg1Njc0NCwibmJmIjoxNDU0NTY4MDU2NzQ1LCJpYXQiOjE0NTQ1NjgwNTY3NDUsImp0aSI6IjNlYmU3OTkwLWNiMGEtMTFlNS1hOTc3LTBkODUzMTgxMjc4MSJ9.DTK0bHgTAP_1wSOuG-tSjlZ5Ww4NMioTwXibEUaUGtY'
          var accessToken = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIyfHVuZGVmaW5lZCIsInN1YiI6InN1YmplY3QiLCJhdWQiOiJhcHAgbmFtZSIsImV4cCI6MTQ1NTE4MTA0MDcwNSwibmJmIjoxNDU0NTc2MjQwNzA2LCJpYXQiOjE0NTQ1NzYyNDA3MDYsImp0aSI6IjRjYzNmOTMwLWNiMWQtMTFlNS1hZDBlLWUzM2VhMWZjMzZhZCJ9.uBwnsLBLboBPnHG-IIogG5rIXXlOjKzkCQK0iulHSh0'

          this.$get = function() {
            return {
              get accessToken() {
                return accessToken
              },

              setAccessToken: function(token) {
                accessToken = token
              },

              addAccessTokenToUrl: function(url) {
                var queryString = 'access_token=' + accessToken
                if (url.indexOf('?') >= 0 || url.indexOf(encodeURIComponent('?')) >= 0)
                  return url + '&' + queryString
                return url + '?' + queryString
              }
            }
          }
        })

        // ng-enter
        .directive('ngEnter', function() {
          return function(scope, element, attrs) {
            element.bind("keydown keypress", function(event) {
              if (event.which === 13) {
                scope.$apply(function() {
                  scope.$eval(attrs.ngEnter);
                });
                event.preventDefault();
              }
            });
          };
        })

        // PageCtrl
        .controller('PageCtrl', ['$scope', '$rootScope', '$log', '$timeout', function($scope, $rootScope, $log, $timeout) {
          $log.debug('PageCtrl >> loading...')

          $scope.authenticated = false
          $scope.user = null
          $scope.title = 'Chat'

          function load() {}

          function init() {
            $rootScope.$on('PageCtrl::authenticated', function(event, user, token) {
              $log.debug('PageCtrl >> received authentication', event, user, token)
              $timeout(function() {
                $scope.authenticated = true
                $scope.user = user
                $scope.title
              }, true)
            })
            $timeout(load, true);
          }

          init()
        }])

        // LoginCtrl
        .controller('LoginCtrl', ['$scope', '$rootScope', '$log', '$timeout', 'Auth', function($scope, $rootScope, $log, $timeout, Auth) {
          $log.debug('LoginCtrl >> loading...')

          $scope.credentials = {
            email: '',
            password: ''
          }

          $scope.loginClicked = function() {
            io.socket.post('/auth/login', $scope.credentials, function(login, res) {
              $log.debug('LoginCtrl >> logged in', login, res)
              io.socket.get('/user/jwt', function(jwt, res) {
                $log.debug('LoginCtrl >> received token', jwt, res)
                Auth.setAccessToken(jwt.token)
                $rootScope.$broadcast('PageCtrl::authenticated', login.auth, jwt.token)
              })
            });
          }

          function load() {}

          function init() {
            $timeout(load, true);
          }

          init()
        }])

        // ChannelListCtrl
        .controller('ChannelListCtrl', ['$scope', '$log', '$timeout', 'Auth', function($scope, $log, $timeout, Auth) {
          $log.debug('ChannelListCtrl >> loading...')

          $scope.channels = []

          function handleChannelSocket(op) {
            $log.debug('PageCtrl >> channel operation received', op)
            switch (op.verb) {
              case 'created':
                $timeout(function() {
                  $scope.channels.push(op.data)
                }, true)
                break;
              default:
                break;
            }
          }

          function channelsReceived(data, res) {
            $log.debug('ChannelListCtrl >> received channels', data)
            $timeout(function() {
              $scope.channels = $scope.channels.concat(data)
            }, true)
          }

          function load() {}

          function init() {
            io.socket.get(Auth.addAccessTokenToUrl('/channel'), channelsReceived)
            io.socket.on('channel', handleChannelSocket)
            $timeout(load, true)
          }

          init()
        }])

        // EventLogCtrl
        .controller('EventLogCtrl', ['$scope', '$rootScope', '$log', '$timeout', 'Auth', function($scope, $rootScope, $log, $timeout, Auth) {
          $log.debug('EventLogCtrl >> loading...')

          $scope.events = []

          function handleEventSocket(op) {
            $log.debug('EventLogCtrl >> event operation received', op)
            switch (op.verb) {
              case 'created':
                $timeout(function() {
                  $scope.events.push(op.data)
                }, true)
                break;
              default:
                break;
            }
          }

          function eventsReceived(data, res) {
            $log.debug('EventLogCtrl >> received events', data)
            $timeout(function() {
              $scope.events = $scope.events.concat(data)
            }, true)
          }

          function load() {}

          function init() {
            $rootScope.$on('EventLogCtrl::addEvent', function(event, data) {
              handleEventSocket({ verb: 'created', data: data })
            })
            io.socket.get(Auth.addAccessTokenToUrl('/event'), eventsReceived)
            io.socket.on('event', handleEventSocket)
            $timeout(load, true);
          }

          init()
        }])

        // InputCtrl
        .controller('InputCtrl', ['$scope', '$rootScope', '$log', '$timeout', 'Auth', function($scope, $rootScope, $log, $timeout, Auth) {
          $log.debug('InputCtrl >> loading...')

          $scope.input = {
            value: ''
          }

          $scope.inputChanged = function() {
            sendMessage(1, $scope.input.value)
            $timeout(function() {
              $scope.input.value = ''
            }, true)
          }

          function sendMessage(user, message) {
            var event = {
              // user: user,
              type: 'message',
              value: message
            }
            io.socket.post(Auth.addAccessTokenToUrl('/event'), event, function(data, response) {
              $log.debug('InputCtrl >> posted message', data, response)
              $rootScope.$broadcast('EventLogCtrl::addEvent', data)
            })
          }

          function load() {}

          function init() {
            $timeout(load, true);
          }

          init()
        }])
      })()
    </script>
  </body>

</html>
